.boxes {
  @include tablet {
    background: $pink url("../../img/bg-boxes.jpg") 50% 46% no-repeat;
  }
  @include phone {
    background: $pink url("../../img/bg-boxes.jpg") 50% 44% no-repeat;
  }

  color: white;
  background: $pink url("../../img/bg-boxes.jpg") 50% 50% no-repeat;
}

.boxes__wrapper {
  @include laptop {
    width: 750px;
  }
  @include tablet {
    width: 480px;
    padding: 23px 0;
  }
  @include phone {
    width: 320px;
  }

  max-width: 945px;
  margin: 0 auto;
  padding: 43px 0;
}

.boxes__title {
  @include opensans(bold);
  @include tablet {
    margin-bottom: 30px;
  }

  margin-bottom: 50px;

  text-align: center;
  text-transform: uppercase;

  font-size: rem(22px);
}

.boxes__row {
  @include tablet {
    flex-direction: column;

    margin-bottom: 30px;
  }

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: space-between;

  &--small {
    @include tablet {
      margin-bottom: 250px;
    }

    max-width: 920px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.boxes__item {
  @include tablet {
    max-width: 100%;
    margin-bottom: 30px;
  }

  position: relative;

  max-width: rem(271px);
  padding: rem(5px) rem(10px);

  text-align: center;

  border-radius: rem(50px);
  background-color: $WHITE;

  &:before {
    @include tablet {
      display: none;

      width: 100%;
    }

    position: absolute;

    width: 0;
    height: 0;

    content: "";

    border-width: 15px 0 15px 10px;
    border-style: solid;
    border-color: transparent transparent transparent $WHITE;
  }
}

//========= ARROWS START==============//
.boxes__item--first {

  &:before {
    @include laptop {
      right: -8px;
    }

    top: 50%;
    right: -9px;

    transform: translateY(-50%);
  }
}

.triangle {
  @include laptop {
    left: -9px;
  }
  @include tablet {
    display: none;
  }

  position: absolute;
  top: 50%;
  left: -10px;

  width: 0;
  height: 0;

  content: "";
  transform: translateY(-50%);

  border-width: 15px 10px 15px 0;
  border-style: solid;
  border-color: transparent $pink transparent transparent;

  &:before {
    position: absolute;
    top: -8px;
    left: -7px;

    display: block;

    width: 20px;

    content: "";
    transform: rotate(-45deg);

    border-top: 1px dashed $WHITE;
  }

  &:after {
    position: absolute;
    top: 7px;
    left: -8px;

    display: block;

    width: 20px;

    content: "";
    transform: rotate(45deg);

    border-top: 1px dashed $WHITE;
  }
}

.boxes__item--second {
  @include tablet {
    margin-left: auto;
  }

  &:before {
    display: none;
  }
}

.boxes__item--third {

  &:before {
    display: none;
  }
}

.triangle--reflection {
  @include laptop {
    right: -9px;
  }

  right: -10px;
  left: auto;

  border-width: 15px 0 15px 10px;
  border-color: transparent transparent transparent $pink;

  &:before {
    right: -7px;
    left: auto;

    transform: rotate(45deg);
  }

  &:after {
    right: -8px;
    left: auto;

    transform: rotate(-45deg);
  }
}

.boxes__item--fourth {

  &:before {
    @include laptop {
      left: -8px;
    }

    top: 50%;
    left: -9px;

    transform: translateY(-50%);

    border-width: 15px 10px 15px 0;
    border-color: transparent $WHITE transparent transparent;
  }
}

//========= ARROWS END==============//

.boxes__text {
  @include opensans;

  color: #982a5e;

  font-size: rem(16px);
}

.boxes__item--dashed {
  border: 1px dashed white;
  background-color: $pink;
}

.boxes__item--dashed .boxes__text {
  color: $WHITE;
}

.boxes__toggle {
  display: block;

  width: 34px;
  height: 34px;
  margin: 0 auto;

  cursor: pointer;

  background: transparent url("../../img/arrow.png") 50% 50% no-repeat;

  font-size: 0;
}
