.btn {
  @include inlineblock;
  @include color($WHITE, $red);
  @include opensans(bold);

  padding: rem(23px) rem(34px) rem(17px);

  cursor: pointer;
  transition: background-color .3s, color .3s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 6.5px 11.3px 18.8px 1.2px rgba(0, 0, 0, 0.24);

  //border: 3px solid $WHITE;
  border-radius: rem(27px);
  outline: none;

  font-size: rem(14px);
  line-height: rem(18px);

  &:hover {
    @include color($green, $WHITE);
  }

  &:active {
    @include color($green, rgba($WHITE, .3));
  }
}

.slider .btn {
  position: absolute;
  bottom: rem(100px);
  left: 50%;
  transform: translateX(-50%);
}


.btn--submit {
  @include color($red, $WHITE);

  padding: rem(20px) rem(36px) rem(19px);

  &:hover {
    @include color($WHITE, $red);
  }

  &:active {
    @include color($WHITE, rgba($red, .3));
  }
}


.btn--block {
  width: 100%;
}