.footer-main {
  @include laptop {
    height: 222px;
    margin-top: -222px;
  }
  @include tablet {
    height: 296px;
    margin-top: -296px;
  }
  @include phone {
    height: 267px;
    margin-top: -267px;
  }

  position: relative;

  overflow: hidden;

  width: 100%;
  height: 182px;
  margin-top: -182px;

  background-color: $green;
}

.footer-main__wrapper {
  @include desktop {
    width: 970px;
  }
  @include laptop {
    width: 750px;
  }
  @include tablet {
    flex-direction: column;

    width: 480px;
  }
  @include phone {
    width: 280px;
  }

  display: flex;
  flex-direction: row;

  max-width: 1035px;
  margin: 0 auto;
  padding: 28px 15px 24px;

  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.footer-main .logo {
  @include tablet {
    margin-bottom: 15px;
  }
}

.footer-main .logo img {
  max-width: 100%;
  height: auto;
}

.footer-main .logo {
  @include phone {
    width: 50%;
  }
}

.nav-footer {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  align-items: center;
}

.nav-footer__list {
  display: flex;
  flex-direction: row;

  max-width: 380px;
  margin: 0;
  margin-right: 8px;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
}

.footer-main .nav-footer__item {
  @include phone {
    margin-right: 20px;
  }

  margin-right: 50px;
}

.nav-footer__link {
  @include opensans(bold);

  display: block;

  transition: color .3s;
  text-decoration: none;
  text-transform: uppercase;

  color: $WHITE;

  font-size: rem(14px);

  &:hover {
    cursor: pointer;

    color: $BLACK;
  }
}

.footer-main .phone {
  @include laptop {
    margin-top: 20px;
    margin-left: auto;
  }
  @include tablet {
    margin-left: 0;
  }
}

.footer-main .phone__link {
  @include opensans(bold);

  position: relative;

  display: block;

  padding-left: 32px;

  transition: color .3s;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: $WHITE;

  font-size: 15px;
  line-height: 20px;

  &:hover {
    cursor: pointer;

    color: $BLACK;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 19px;
    height: 19px;

    content: " ";
    transition: all .3s;

    background: #40c1c2 url("../../img/sprites/phone-white.png") 0 0 no-repeat;
  }

  &:hover:before {
    transition: all .3s;

    background: #40c1c2 url("../../img/sprites/phone-hov.png") 0 0 no-repeat;
  }
}

.footer-main .socials {
  @include laptop {
    margin-top: 20px;
    margin-right: auto;
  }
  @include tablet {
    margin-right: 0;
  }
}

.footer-main .social-link--fb {

  &:before {
    width: 11px;
    height: 21px;

    transition: all .3s;

    background: #40c1c2 url("../../img/sprites/facebook-white.png") 0 0 no-repeat;
  }

  &:hover:before {
    transition: all .3s;

    background: #40c1c2 url("../../img/sprites/facebook-hov.png") 0 0 no-repeat;
  }
}

.footer-main .social-link--inst {

  &:before {
    width: 21px;
    height: 21px;

    transition: all .3s;

    background: #40c1c2 url("../../img/sprites/instagram-white.png") 0 0 no-repeat;
  }

  &:hover:before {
    transition: all .3s;

    background: #40c1c2 url("../../img/sprites/instagram-hov.png") 0 0 no-repeat;
  }
}

.footer-main__bottom {
  @include opensans;

  padding-bottom: 18px;

  text-align: center;

  color: $WHITE;

  font-size: 14px;
  line-height: 26px;
}

.footer-main__bottom p {
  width: 350px;
  margin: 0 auto;
}
