.header-main__top {
  background-color: #fafafa;
  box-shadow: 1.5px 2.6px 4.7px .3px rgba(0, 0, 0, .24);
}

.header-main__wrapper {
  @include desktop {
    width: 970px;
  }
  @include laptop {
    width: 750px;

    justify-content: center;
  }
  @include tablet {
    display: block;

    width: 480px;
    margin: 0 auto;
  }
  @include phone {
    width: 320px;
    margin: 0 auto;
    padding: 14px 15px 12px;
  }

  display: flex;
  flex-direction: row;

  min-width: 280px;
  max-width: 1035px;
  margin: 0 auto;
  padding: 28px 15px 24px;

  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  @include desktop {
    margin-right: 50px;
  }

  width: 225px;
  margin-right: 100px;
}

.header-main .logo {
  @include tablet {
    width: 100%;
  }
  @include phone {
    width: 50%;

    font-size: 0;
  }
}

.header-main .logo img {
  max-width: 100%;
  height: auto;
}

.nav-main {
  @include tablet {
    display: block;
  }

  position: relative;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  align-items: center;
}

//============= Start Burger ============//
.nav-main__toggle {
  @include tablet {
    top: -43px;
    right: 0;

    display: block;
  }
  @include phone {
    top: -30px;
  }

  position: absolute;
  z-index: 2;

  display: none;

  width: 50px;
  height: 24px;
  padding: 0;

  cursor: pointer;

  border: none;
  outline: none;
  background: none;
  background-color: transparent;

  font-size: 0;

  &:active {
    outline: none;
  }
}

.nav-main--closed .nav-main__toggle .burger path {
  display: block;

  fill: $green;
}

.nav-main--closed .nav-main__toggle .cross {
  display: none;
}

.nav-main--closed .nav-main__toggle:hover .burger path {
  display: block;

  fill: $red;
}

.nav-main--closed .nav-main__toggle:active .burger path {
  display: block;

  fill: rgba($red, .3);
}

.nav-main--opened .nav-main__toggle .cross path {
  display: block;

  fill: $green;
}

.nav-main--opened .nav-main__toggle .burger {
  display: none;
}

.nav-main--opened .nav-main__toggle:hover .cross path {
  display: block;

  fill: $red;
}

.nav-main--opened .nav-main__toggle:active .cross path {
  display: block;

  fill: rgba($red, .3);
}
//============== End Gabburger ==========//

.nav-main__list {
  @include tablet {
    display: block;

    max-width: 100%;
    margin-right: 0;
  }

  display: flex;
  flex-direction: row;

  max-width: 380px;
  margin: 0;
  margin-right: 20px;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
}

.nav-main__item {
  @include desktop {
    margin-right: 30px;
  }
  @include tablet {
    display: block;

    margin-right: 0;
  }

  margin-right: 50px;
}

.nav-main__link {
  @include opensans(bold);
  @include tablet {
    margin-bottom: 1px;
    padding: 14px 0 17px;

    text-align: center;

    box-shadow: 0 1px 0 black, inset 0 1px 0 rgba(255, 255, 255, .15);

    font-size: 18px;
    line-height: 32px;
  }

  display: block;

  transition: color .3s;
  text-decoration: none;
  text-transform: uppercase;

  color: $BLACK;

  font-size: 14px;

  &:hover {
    cursor: pointer;

    color: $green;
  }
}

//======= START BURGER ======//
.nav-main--closed .nav-main__list {
  @include desktop {
    display: flex;
  }
  @include tablet {
    display: none;
  }
}

.nav-main--nojs .nav-main__toggle {
  display: none;
}

.nav-main--nojs .nav-main__list {
  display: block;
}


//======= END BURGER ======//
.phone {
  @include desktop {
    margin-right: 20px;
  }

  max-width: 180px;
  margin-right: 40px;
}

.header-main .phone {
  @include laptop {
    margin-top: 20px;
    margin-left: auto;
  }
  @include tablet {
    display: none;

    max-width: 220px;
    margin: 0 auto;
  }
}

.header-main .phone--nav-opened {
  display: block;
}

.phone__link {
  @include opensans(bold);

  position: relative;

  display: block;

  padding-left: 32px;

  transition: color .3s;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: $BLACK;

  font-size: 15px;
  line-height: 20px;

  &:hover {
    cursor: pointer;

    color: $green;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 19px;
    height: 19px;

    content: " ";
    transition: all .3s;

    background: #fafafa url("../../img/sprites/phone.png") 0 0 no-repeat;
  }

  &:hover:before {
    transition: all .3s;

    background: #fafafa url("../../img/sprites/phone-hov.png") 0 0 no-repeat;
  }
}

.header-main .phone__link {
  @include tablet {
    padding-top: 14px;
    padding-bottom: 17px;
    padding-left: 32px;

    font-size: 18px;
    line-height: 32px;

    &:before {
      top: 21px;
    }
  }
}

.socials {
  display: flex;

  max-width: 80px;

  font-size: 0;
}

.header-main .socials {
  @include laptop {
    margin-right: 55px;
  }
  @include laptop {
    margin-top: 20px;
    margin-right: auto;
  }
  @include tablet {
    display: none;

    margin: 0 auto;
  }
}

.social-link {
  @include desktop {
    margin-right: 10px;
  }

  position: relative;

  display: block;

  width: 21px;
  height: 21px;
  margin-right: 20px;

  transition: all .3s;
  text-decoration: none;

  font-size: 0;

  &:before {
    position: absolute;
    top: 0;
    left: 0;

    content: " ";
  }
}

.social-link--fb {

  &:before {
    width: 11px;
    height: 21px;

    transition: all .3s;

    background: #fafafa url("../../img/sprites/facebook.png") 0 0 no-repeat;
  }

  &:hover:before {
    transition: all .3s;

    background: #fafafa url("../../img/sprites/facebook-hov.png") 0 0 no-repeat;
  }
}

.social-link--inst {

  &:before {
    width: 21px;
    height: 21px;

    transition: all .3s;

    background: #fafafa url("../../img/sprites/instagram.png") 0 0 no-repeat;
  }

  &:hover:before {
    transition: all .3s;

    background: #fafafa url("../../img/sprites/instagram-hov.png") 0 0 no-repeat;
  }
}

.slider {
  height: 537px;
}

.slider__item {
  height: 537px;
}

.slider__item h4 {
  margin: 0;
}

.slider__item--first {
  background: #fafafa url("../../img/slider-1.jpg") 0 0 no-repeat;
}

.owl-buttons {
  display: none;
}

.owl-theme .owl-controls {
  position: absolute;
  bottom: 23px;
  left: 50%;

  transform: translateX(-50%);
}
