.order-form {
  background-color: $green;
}

.order-form__wrapper {
  width: 810px;
  padding: 37px 0 26px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.order-form__item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 26px;
}

.order-form__item {
  position: relative;
}

.order-form__input {
  @include color;
  @include opensans;
  width: 225px;
  padding: 12px 50px 15px 30px;
  outline: none;
  border-radius: 23px;
  box-shadow: 1.5px 2.6px 4.7px 0.3px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  border: 2px solid $WHITE;
  transition: all .3s;

  &:hover {
    border-color: $BLACK;
  }

  &:hover::-webkit-input-placeholder {
    color: $BLACK;
  }

  &:focus {
    border-color: $red;
  }
}

.order-form__img {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: $green;
}

.order-form__img--name {
  background: $green url('../../img/sprites/icons_user.png') 50% 50% no-repeat;
}

.order-form__img--phone {
  background: $green url('../../img/sprites/phone-white.png') 50% 50% no-repeat;
}

.order-form__img--email {
  background: $green url('../../img/sprites/icons_email.png') 50% 50% no-repeat;
}

.order-form__btn-wrapper {
  text-align: center;
}