@mixin color($bg: $WHITE, $color: $BLACK) {
  background: $bg;
  color: $color;
}

%clearfix {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

@mixin inlineblock($valign: top) {
  display: inline-block;
  vertical-align: $valign;
}

//============= Responsiv ==========//

@function rem($px) {
  @return $px / 16px + 0rem;
}

// ======== DESCTOP FIRST ======= //

@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 480px) {
    @content;
  }
}

// ======== MOBILE FIRST ======= //

// @mixin phone {
//   @media screen and (min-width: 480px) {
//     @content;
//   }
// }

// @mixin tablet {
//   @media screen and (min-width: 768px) {
//     @content;
//   }
// }

// @mixin laptop {
//   @media screen and (min-width: 992px) {
//     @content;
//   }
// }

// @mixin desktop {
//   @media screen and (min-width: 1200px) {
//     @content;
//   }
// }