// ----- Constants ----- //
$WHITE: #ffffff;
$BLACK: #000000;

// ----- Variables ----- //
$green: #40c1c2;
$red: #cc387e;
$pink: #e94090;

// $base: #f1f5f7;
// $red:  #ee3643;
// $red-hvr:  #ca2c37;
// $red-dwn:  #ba2732;
// $green:  #63a63e;
// $green-hvr:  #5fbb2d;
// $green-dwn:  #518534;
// $dark-blue:  #32425c;
// $bd-color: #e5e5e5;
// $filter-color: #f7f3ec;


// ----- layout ----- //
@import "_misc/mixins";
@import "../../node_modules/normalize.css/normalize";
@import "_misc/fonts";
@import "_misc/adjustment";

// ----- Slider ----- //
@import "../../node_modules/owlcarousel/owl-carousel/owl.carousel";
@import "../../node_modules/owlcarousel/owl-carousel/owl.theme";

// ----- Styles ----- //
@import "partials/header";
@import "partials/footer";
@import "partials/btn";
@import "partials/order-form";
@import "partials/features";
@import "partials/boxes";
@import "partials/partnership";
