// ----- Constants ----- //
$WHITE: #ffffff;
$BLACK: #000000;

// ----- Variables ----- //
$green: #40c1c2;
$red: #cc387e;
$pink: #e94090;


// ----- layout ----- //
@import "_misc/mixins";
@import "../../node_modules/normalize.css/normalize";
@import "_misc/fonts";
@import "_misc/adjustment";

// ----- Slider ----- //
@import "../../node_modules/owlcarousel/owl-carousel/owl.carousel";
@import "../../node_modules/owlcarousel/owl-carousel/owl.theme";

// ----- Styles ----- //
@import "partials/header";
@import "partials/footer";
@import "partials/btn";
@import "partials/order-form";
@import "partials/features";
@import "partials/boxes";
@import "partials/partnership";
